# Apache settings for peteramati

# Allow access only to index.php.
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
<Files index.php>
  <IfModule mod_authz_core.c>
  Require all granted
  </IfModule>
  <IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
  </IfModule>
</Files>

# Use index.php for directory access.
DirectoryIndex index.php

# Uncomment this line to ONLY grant access via https.  Requires mod_ssl.
#
# SSLRequireSSL

# HTTP Authentication: To ask the server to authenticate users,
# uncomment these lines and set $Opt["httpAuthLogin"] in
# conf/options.php. The $Opt["httpAuthLogin"] value should correspond
# to your AuthType and AuthName (AuthName is the "realm").
#
# AuthType Basic
# AuthName "HotCRP"
# AuthUserFile FILENAME
# Require valid-user
